.bt_bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bt_div{
    margin: 47.5% 40%;
    width: 20% fixed;
    border-style: solid;
    border-radius: 3px;
    border-color: #000000;
    border-width: 2px;
    padding: 10px;
    z-index: 100;
}
.bt_txt{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
}
.bt_txt:hover{
    text-decoration: underline;
    font-style: oblique;
}
.bt_bt{
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
    color: grey;
}
.bt_bt:hover{
    transform: translateX(3px);
    transition: 0.5s;
    background-color: blueviolet;
}
/* 毛玻璃特效 */
.glass {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
