*{box-sizing: border-box;text-decoration: none;}
#suki,#homee{margin-left: 10px;}
#lm{opacity: 0.5;}
#wife{opacity: 0.25;}
#update{
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

body{
    margin: 0;
    counter-reset: a1,a2;       
}
.highlight{
    background-color: dodgerblue;
}
.bg{
    z-index: -100;
    opacity: 0.15;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.bt{
    right: 15px;
    bottom: 7px;
    position: fixed;
}
.bt:hover{
    background-color: brown;
}
.header{
    background-color: azure;
    color: black;
    text-align: center;
    padding: 10px;
}
.topmenu{
    z-index: 1;
    list-style-type: none;
    background-color: antiquewhite;
    color:blueviolet;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.topmenu li{
    float: left;
    margin: 0 0 0 10px;
}
.topmenu li a{
    border-style: solid;
    border-color: rgb(245, 179, 132);
    border-radius: 10px;
    border-width: 1.5px;
    display: inline-block;
    text-align: center;
    padding: 6px;
    margin: 4px;
}
.topmenu li div{
    text-align: center;
    padding: 6px;
    margin: 4px;
}
.topmenu li a:hover{
    transform: translateY(-2px);
    transition-duration: 0.4s ;
    transition-timing-function: linear;    
}
.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    border-top: 1px solid;
    border-color: black;
    z-index: 99;
    list-style-type: none;
}
.bottom-bar li{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    float: left;
}
.txtarea{
    border-style: dotted;
    border-radius: 10px;
    border-color: black;
    margin: 10px 20px;
    padding: 10px;
    z-index: 1;
    width: 700px;
    font-family :'Courier New', Courier, monospace;
}
#clock{
    position: fixed;
    right: 20px;
}

/* keyframes */
@keyframes breathe{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0.4;
    }
}
@keyframes flipInY{
    from{
        transform: perspective(400px) rotateY(0);
    }
    to{
        transform: perspective(400px) rotateY(360deg);
    }
}
@keyframes flipInX{
    from{
        transform: perspective(400px) rotateX(0);
    }
    to{
        transform: perspective(400px) rotateX(360deg);
    }
}
.breathe{animation: breathe 1s infinite;}
.flipInY{animation: flipInY 4s;}
.flipInX{animation: flipInX 4s;}
.undo{color: aquamarine;}
